      <%# params %>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Category</th>
      <th>Author</th>
      <%#byebug%>
      <% unless params[:controller] == "projects" %>
        <% unless params[:controller] == "tasks" && params[:action] == "show" %>
          <th>Project</th>
          <th>Sub task</th>
        <% end %>
      <% end %>

      <% unless params[:controller] == "users/registrations" %>
        <th>Assignee</th>
      <% end %>
      <% unless params[:controller] == "tasks" && params[:action] == "show" %>
        <th>Parent task</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task %></td>
        <td><%= task.status %></td>
        <td><%= task.category.title unless task.category.nil? %></td>
        <td><%= link_to task.author.name, user_show_path(task.author.id) %></td>
        <%#byebug%>
        <% if params[:controller] != "projects" %>
          <% unless params[:controller] == "tasks" && params[:action] == "show" %>
            <td><%= link_to task.project.title, task.project %></td>
            <td><%= collection_select(:task, :subtask, task.subtasks, :id, :title, :onchange => "window.location.replace('/'+this.value);") if task.subtasks.size > 0 %></td>
          <% end %>
        <% end %>
        <% unless params[:controller] == "users/registrations" %>
          <td>
            <% if task.assignee %>
              <%= link_to task.assignee.name, user_show_path(task.assignee.id) %>
            <% else %>
              <%= 'Nobody' %>
            <% end %>
          </td>
        <% end %>
        <% unless params[:controller] == "tasks" && params[:action] == "show" %>
          <td><%= link_to task.parent_task.title, task.parent_task if task.parent_task %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>