<%= form_with(model: log, local: true) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :who %>
    <%= form.text_field :who, id: :log_who %>
  </div>

  <div class="field">
    <%= form.label :head %>
    <%= form.text_field :head, id: :log_head %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, id: :log_body %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.text_field :level, id: :log_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
